<div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= image_tag(@tweet.url_photo, style: "max-width: 100%; border-radius: 10px;") if @tweet.url_photo? %>
        </div>
        <div class="col-md-2"></div>
      </div>
    
      <hr>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p><%= @tweet.content %></p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <p><%= link_to 'Edit', edit_tweet_path(@tweet), class: "btn btn-warning btn-sm" %> <%= link_to 'Back', tweets_path, class: "btn btn-info btn-sm" %></p>
        </div>
        <div class="col-md-2"></div>
      </div>

</div>
